@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
#topo{
    background-image: url(/recifacil/img/back.png);
    background-size: 420px;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 6%;
}
nav .logo{
    width: 150px;
}
.links{
    flex: 1;
    text-align: right;
    
}
.links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.links ul li a{
    color: rgb(4, 95, 48);
    text-decoration: none;
    font-size: 1.1rem;
}

.links ul li::after{
    content: '';
    width: 0%;
    height: 1px;
    background-color: rgb(22, 185, 85);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.links ul li:hover::after{
 width: 100%;
}

.texto{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    text-align: center;
}
.texto h1{
    font-size: 92px;
}
.logotipo{
    width: 850px;
}
 nav .fa{
    display: none;
 }
.escolha{
    display: flex;
}
.popUp{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 250px;
  border: none;
  border-radius: 20px;
  background-color: rgba(211, 211, 211, 0.4 );  
}

button#exit{
    position: absolute;
    margin-left: 149px;
    border: none;
    background: none;
    font-size: 1.1rem;
    border: 1px solid black;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    transition: 0.5s;
}
button#exit:hover{
    border: none;
    background-color: rgb(29, 182, 29);
    box-shadow: 1px 1px 2px black;
    color: #fff;
}
button#sair{
    position: absolute;
    margin-left: 149px;
    border: none;
    background: none;
    font-size: 1.1rem;
    border: 1px solid black;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    transition: 0.5s;
}
button#sair:hover{
    border: none;
    background-color: rgb(29, 182, 29);
    box-shadow: 1px 1px 2px black;
    color: #fff;
}

.popUp h2{
  font-size: 20pt;
  font-family: monospace;
  text-align: center;
  margin: 1rem;
}
.popUp a{
  margin: 20px;
  width: 40%;
  color: #fff;
  font-weight: bold;
  margin-left:110px;
  background-color: rgb(29, 182, 29);
  border-radius: 5px;
  padding: 15px; 
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.popUp a:hover{
    background-color: rgb(33, 128, 18);
    box-shadow: 1px 2px 3px black;
    transition: 0.5s;
}


 @media(max-width: 999px) {
    
     .logotipo{
        width: 550px;
     }
     .links ul li{
       display: block;

     }
     .links ul li a{
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 1.1rem;
        text-align: center;
    }
    .links{
        position: absolute;
        background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        display: none;

    }
    .links ul li::after{
      
        background-color: rgb(255, 255, 255);
  
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 20px;
        font-size: 22px;
        cursor: pointer;
        

    }
   
    .links ul{
        text-align: center;
        padding: 20px;
    }
   .headline{
    color: #fff;
    text-align: center;
    padding-top: 15px;
    font-size: 1.1rem;
   }
}