@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Reem Kufi Ink', sans-serif;
}
body{
    background-image: url(/ReciFacilProject/img/back.png);
    background-size: 400px;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
}
a{
  text-decoration: none;
  text-align: center;
}
.perfil{
  display: flex;
}
 .config{
  max-width: 1000px;
  position: absolute;
  margin: 20px;
  bottom: 0;
  right: 0;
  text-decoration: none;
}
svg{
  color: black;
}
.perfil img{
  margin: 10px;
  height: 160px;
  border-radius: 50%;
}
.dados{
  display: flex;
  flex-direction: column;
}
.dados h2{
  font-size: 3rem;
}
.dados i{
  font-size: 1.5rem;
}
main {
    top: 20px;
    position: relative;
    width: 1000px;
    border-radius: 30px;
    background-color: rgba(211, 211, 211, 0.4 );
    margin: auto;
    padding: 15px;
 }
   
 .pedidosDeUsers{
    width: 400px;
    background: rgba(64, 66, 62, 0.377);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.678);
 }
 .pedidosDeUsers a.trash{
  position: relative;
  display: flex;
  text-align: center;
 }
 a.trash{
  background-color: rgb(236, 28, 28);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.678);
  display: flex;
  justify-content: center;
}
a.trash:hover{
background-color: rgb(143, 29, 29);
transition: 0.5s;
}
 
 .box-search{
  display: flex;
  justify-content: center;
  gap: 0.1%;
  margin: 10px;
}
 .box-search-title{
  text-align: center;
}
 .box-div{
  display: block;
  margin-top: 80px;

}
 .saida{
  position: absolute;
  margin: 30px;
 }
 .content{
  margin-top: 60px;
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  grid-gap: 20px;
  padding-right: 250px;
  padding-left: 250px;

}
