* {
  margin: 0;
  padding: 0;
}

.cadastro-box {
  max-height: 500px;
} 

.cadastro-box h2 {
  color: #50c878;
}

.coluna1 input, .coluna2 input, select{
  width: 100%;
  max-width: 810px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2.5px;
  font-size: 16px;
  margin-bottom: 20px;
  gap: 10px;
}

select {
  background-color: white;
}

.cadastrar {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 400px;
  position: relative;
  color: #3da368;
  font-weight: bold;
  border: none;
  border: 2px solid#3da368;
  border-radius: 20px;
  margin: auto;
}

.cadastrar:hover {
  background-color: #3da368;
  color: white;
  transition: 1s;
}

@media (max-width: 920px) {
  .coluna1 input, .coluna2 input, select{
    width: 100%;
    max-width: 810px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2.5px;
    font-size: 16px;
    margin-bottom: 20px;
    gap: 10px;
  }

  .coluna1, .coluna2 {
    flex-basis: 250px;
  }

  form {
    justify-content: center;
  }
}