@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.cadastro-box {
  margin: 24px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.cadastro-box > h2 {
  color: #50c878;
  text-align: center;
}

form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
}
.coluna2, .coluna1{
  flex-basis: 350px;
}

.material-container{
  text-align: center;
}

.material{
  display: flex;
  margin-top: 40px;
  gap: 10px;
}

label{
  font-size: 14px;
  font-weight: bold;
}

input, select {
  width: 100%;
  max-width: 810px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2.5px;
  font-size: 16px;
  margin-bottom: 20px;
  gap: 10px;
}

input[type="checkbox"]{
  margin-right: 10px;
  transform: scale(1.5);
}

.botao {
  width: 350px;
}

button{
  height: 40px;
  width: 80%;
  left: 10px;
  color: green;
  font-weight: bold;
  border: none;
  border: 2px solid green;
  border-radius: 20px;
  margin: auto;
}

button:hover {
  background-color: #3da368;
  color: white;
  transition: 1s;
}

@media (max-width: 850px) {
  
  .cadastro-box {
    max-width: 500px;
  }

  form {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .coluna1 input, .coluna2 input, select {
    width: 100%;
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2.5px;
    font-size: 16px;
    margin-bottom: 20px;
    gap: 10px;
    display: inline-block;
  }

  .coluna1, .coluna2{
    flex-basis: 250px;
  }

  .botao {
    width: 100%;
  }

  button {
    width: 100%;
  }

} 

@media (max-width: 320px) {
  html, body {
    min-width: 320px;
  }
}