@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Reem Kufi Ink', sans-serif;

}
body{
    background-image: url(/PontodeColeta/imagens/back.png);
    background-size: 400px;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
  
}
.perfil{
  display: flex;
  align-items:center;
  background-color: rgba(211, 211, 211, 0.4 );
  position: relative;
  top: 5vh;
  width: 1000px;
  height: 250px;
  border-radius: 30px;
}
.perfil img{
  margin: 10px;
  height: 160px;
  border-radius: 50%;
}
.dados{
  display: flex;
  flex-direction: column;

}
.dados h2{
  font-size: 3rem;
}
.dados i{
  font-size: 1.5rem;
}
 a{
  color: aliceblue;
  text-decoration: none;
  position: absolute;
  top: 43vh;
  width: 600px;
  height: 120px;
  padding: 35px;
  text-align: center;
  background-color: green;
  font-size: 1.7rem;
  border-radius: 10px;
}
.icone2{
  
}