/** Fazer os arquivos css dentro dessa pasta pra melhor organização **/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: rgba(174, 228, 158, 0.747);
}

a{
    text-decoration: none;
}

#minhaDiv{
    text-align: center;
    display: block;
    margin: auto;
    background-color: rgba(174, 228, 158, 0.747);
    width: 1000px;
    height: 500px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imgs{
    width: 80px;
    margin: 20px;
}

#text{
    background-color:  rgba(174, 228, 158, 0.671);
}

.materiais {
    display: flex;
    justify-content: space-around;
}

.material {
    align-items: center;
}

.material div {
    display: flex;
    justify-content: center;
}

img {
    display: block;
}

main {
    width: 80%;
    background: rgba(199, 194, 194, 0.377);
    margin: auto;
    padding: 15px;
 }
 
 .perfil {
     display: flex;
     justify-content: space-around;
 }
 
 figure {
     display: flex;
 }
 
 img {
     width: 90px;
     height: 90px;
     border-radius: 50%;    
 }
 
 .dados {
     display: flex;
     align-items: center;
 }
 
 .dados div {
     justify-content: centerter;
     width: 120px;
 }

 .types{
    margin: 5px;
    font-family: monospace;
 }

 #peso {
    width: 185px;
    text-align: center;
    padding: 15px;
}